<div class="jumbotron">
    <h1 class="display-3">Tu proyecto en manos de profesionales.</h1><br>
    <p class="lead">Somos una agencia de desarrollo web fundada en 2014. Nuestro principal objetivo es ayudar a los negocios a cumplir sus metas. No solo hacemos lo que deseas, también compartimos contigo nuestra experiencia acumulada durante muchos años para garantizar el éxito de tu idea.</p>
    <center>
    <a class="btn btn-lg btn-success" href="#" role="button">Contactame</a>
    </center>
</div>
<hr>
<div>
<h1>
Estas son nuestras claves de éxito
</h1>
</div>
<br>
<div class="row marketing">

        <div class="col">
          <b><h4>Análisis</h4></b>
          <p>Cada proyecto requiere una analitica previa de varios puntos, que varían en cuestión de la naturaleza del mismo. Hacer un análisis previo es imprescindible para tomar mejores decisiones.</p>
          

          <h4>Planteamiento</h4>
          <p>En este punto definimos las vías exactas en la realización de un proyecto que satisfacen todas las necesidades del mismo y permite hacerlo de forma eficiente. Es el punto más importante de todo el trabajo.</p>

          <h4>Realización</h4>
          <p>Aplicamos nuestra experiencia para hacer tu proyecto realidad siempre con las mejores herramientas y con la máxima viabilidad. Todo esto, respetando los tiempos indicados.</p>
        </div>

       
      </div>