Política de Privacidad
Titularidad
La página web, con dominio https://cosasdedevs.com es una página web de artículos y tutoriales sobre programación.

El titular de esta web es «Alberto Ramírez Caballero», residente en España. Su dirección actual de correo electrónico es alberto@cosasdedevs.com.

Tipos de datos recopilados
A continuación, se hace un desglosamiento de los datos personales recopilados y el por qué:

Formularios de contacto
Los envíos de contacto se realizan directamente al email de alberto@cosasdedevs.com para que el administrador pueda responder al mismo por lo que no se almacena ningún dato del usuario en la web.

Boletines y correos electrónicos
Si te has suscrito a nuestro boletín, hay bastantes posibilidades de que recibas correos electrónicos de nuestra parte.

Sólo te enviaremos correos de los que te hayas apuntado para recibir, o que atañen a los servicios que te ofrecemos.

Para enviarte correos, utilizamos el nombre y la dirección de correo electrónico que nos diste. Nuestro sitio también registra la dirección IP que utilizaste cuando te registraste en el servicio para prevenir el abuso del sistema. El envío se realiza a través de TinyLetter.

Así mismo, el usuario puede modificar, solicitar o eliminar sus datos (darse de baja) en cualquier momento.

No monitorizamos ninguna otra información que te identifique fuera de este sitio excepto tu dirección de correo electrónico.

Contenido incrustado de otros sitios web
Los artículos de este sitio pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). El contenido incrustado de otras web se comporta exactamente de la misma manera que si el visitante hubiera visitado la otra web.

Estas web pueden recopilar datos sobre ti, utilizar cookies, incrustar un seguimiento adicional de terceros, y supervisar tu interacción con ese contenido incrustado, incluido el seguimiento de tu interacción con el contenido incrustado si tienes una cuenta y estás conectado a esa web.

Cuánto tiempo conservamos tus datos
Así mismo, los datos de los formularios enviados por el usuario, también se almacenan indefinidamente.

Todos los correos del boletín incluyen un enlace para que el usuario pueda gestionar su información personal y otro enlace para que este pueda eliminar su perfil y darse de baja.

Qué derechos tienes sobre tus datos
Si te has suscrito a la newsletter de esta web, puedes solicitar la eliminación de tus datos desde el link en los emails de las newsletters o poniéndote en contacto con el administrador a través de la dirección de correo electrónico alberto@cosasdedevs.com. También puedes solicitar que eliminemos cualquier dato personal que tengamos sobre ti. Esto no incluye ningún dato que estemos obligados a conservar con fines administrativos, legales o de seguridad.