/** Media Queries **/
.error {
  color: #ff2d00;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  width: 100%;
  text-align: center;
}
.error .errorlist {
  text-align: left;
  list-style: none;
}

.success {
  color: #60AC2F;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  width: 100%;
  text-align: center;
}
